@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Garamond";
    font-weight: 1 1000;
    src: url("../public/fonts/EBGaramond-VariableFont_wght.ttf");
  }
}
